.assessment_block{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: none;
    padding: 20px;
}
#assessment_select{
    width: 50%;
    margin: 0 auto; 
}

li{
    list-style: none;
}
.checkbox label{
    font-size: 16px;
}
.checkbox
{
    margin-bottom: 30px;
}
#assessment_select{
    margin-top: 50px;
}
form #assessment{
    margin-top: 80px;
    margin-right: 50px;
}

    .checkbox label {
        font-size:20px;
    }
    .checkbox p{
        padding-left: 10px;
    }
    .title{
        font-size: 20px;
    }
form#id-assessmentForm fieldset{
        padding-bottom: 20px;
        padding-top: 20px;
        border: none;
    }
form#id-assessmentForm{
    width:60%;
    margin: auto; 
    overflow-y: auto;
    overflow-x: hidden;
}
#id-assessmentForm legend {
    padding-top: 50px;
    font-size: 30px;
}
