.field_set{
    padding-bottom: 20px;
    padding-top: 20px;
    border: none;
}
form#id-examsForm{
    margin: auto; 
    overflow-y: auto;
    overflow-x: hidden;
        width: 60%;
}

#id-examsForm legend{
    padding-top:50px;
    font-size: 30px;
}
#id-examsForm label{
    font-size: 20px;

}
#submit-id-submit{
    margin-top:20px;
    width: 100%;
    
}
#exam_select{
    width: 50%;
    margin: 0 auto; 
}
#exam_select label{
    font-size: 14px;
}
p{
    padding-left: 10px;
    
}
    .main {
        overflow-y: auto;
        overflow-x: hidden;
    }
    #id-examsForm fieldset{
        padding-bottom: 20px;
        padding-top: 20px;
        border: none;
    }
  .checkbox label{
         font-size: 20px;
     }
