

#medications_linked_to_falls{
    width: 740px;
}

.medication_block{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
}
.btn
{
    margin-right: 100px;
    width: 100%;
}
#medications .form-control{
    height: 100%;
    width: 100%;
    display: inline;
}
#medications .panel-body{
    padding: 0px;
}
#medications select[multiple], select[size] {
    height: 100%;
    border: none;
    outline: none;
}
.panel #medications{
    width: 100%;
    
}
#medications .panel-body{
height: 240px;
}