.question-form{
    box-shadow: 0 0 10px grey;
      padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
}
.question-container{
    margin-top: 80px;
    width: 100%;
    height: auto;
  
}
#pass-button{
    margin-bottom: 10px;
}
.auto-pass-fail{
    /*margin-left:10px;*/
}
button{
    width:130px;
}
.self_assessment_questions li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.self_assessment_questions{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.center_in_column {
    display: flex;
    padding-left: 0;
    margin: auto;
    border-radius: 4px;
    float: none;
    width: 100px;
}

.question_row{
    margin-bottom: 10px;
}