.risk_button{
    margin: 10px;
    width:100%;
}
#incomplete{
    color:grey;
}
#low{
    color:#FFE621;
}
#moderate{
    color:orange;
}
#high{
    color:#d9534f;
}
.results_form{
    overflow-y: auto;
}
.field_set_results{
    padding-bottom: 20px;
    padding-top: 0px;
    border: none;
}
.field_set_results legend{
    font-size: 20px;
}
.field_set_results label{
    font-size: 15px;
}
.risk_level{
    text-align: center;
}
.level p{
    font-size: 90px;
}
