.risk_button{
    margin: 20px;
    width:100%;
}
#incomplete{
    background-color: #2af542;
    color: #2af542;
    color:white;
}
#low{
    background-color: #FFE621;
    border-color:#FFE621;
    color: white;
}
#moderate{
    background-color: orange;
    border-color:orange;
    color: white
}
#high{
    background-color: #d9534f;
    border-color:#d9534f;
    color: white;
}
.results_form{
    overflow-y: auto;
}
.field_set_results{
    padding-bottom: 20px;
    padding-top: 0px;
    border: none;
}
.field_set_results legend{
    font-size: 20px;
}
.field_set_results label{
    font-size: 15px;
}