.risk_button{
    margin: 20px;
}

#low{
    background-color: #FFE621;
    border-color:#FFE621;
    color: white;
        width:100%;
}

#med{
    background-color: orange;
    border-color:orange;
    color: white;
    width:100%;
}

#high{
    background-color: #d9534f;
    border-color:#d9534f;
    color: white;
        width:100%;
}