{% load staticfiles %}
<!DOCTYPE html> {%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

  <title> {% block title %}Fall Prevention{% endblock %}</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
  <link href="{% static 'css/basestyle.css' %}" rel="stylesheet">

  <link href="{%static 'css/styles.css'%}" rel="stylesheet">
  <link href="{%static 'css/searchPatient.css'%}" rel="stylesheet">
  <link href="{%static 'css/questions.css' %}" rel="stylesheet">
  <link href="{%static 'css/assessments.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
  <link rel="stylesheet" href="{%static 'css/medications.css'%}" />
  <link rel="stylesheet" href="{%static 'css/risks.css'%}" />
  <link rel="stylesheet" href="{%static 'css/exam.css'%}" />
    <link rel="stylesheet" href="{%static 'css/history.css'%}" />
</head>

<body>
  <!--BEGIN NAV-->
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #075290" role="navigation">
    <div class="container-fluid">
      <p class="navbar-brand" style="color: white;">CDC Fall Prevention</p>
         <li class="navbar-brand pull-right" style="color: white;"><a href="{% url 'login' %}">Logout</a></li>

    </div>








  </nav>
  <!--END NAV-->
  <div class="container-fluid main_container" id="content">
    <div class="row content">
      <!--Side bar-->
      <div class="col-sm-2 sidenav">
        {%block sidebar%} {%endblock%}
      </div>
      <!--Sidebar end-->
      <!--Main part of app-->
      <div class="col-sm-10 main">
        {%block content%} {% endblock %}
      </div>
      <!--Main part of app end-->

    </div>
  </div>



</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/assessments.js' %}"></script>
    <script src="{%static 'js/completed.js'%}"></script>
    <script src="{%static 'js/exam.js'%}"></script>
     <script src="{%static 'js/sidebar.js'%}"></script>
      <script src="{%static 'js/questions.js'%}"></script>

</html>