{% extends 'app/base.html' %} {%load static%} {% block sidebar %}


    <ul class="nav sidebar-nav">
      <!--Patient in NAV-->
      <div class="patient-info">
        <li class="" id="patient-name">Lusenii Kromah</li>
        <li class="" id="patient-age">Age: 22</li>
        <li class="" id="patient-score">Today's Score: <p id="score">0</p></li>
      </div>
      <!--END-->

      <li><a href="#">Patient History</a></li>

          <li><a href="{% url 'questions' %}">Fall Screening</a></li>
          <li><a href="{% url 'assessments' %}">Assessment</a></li>
          <li><a href="{% url 'medications' %}">Medications</a></li>
          <li><a href="#">Exams</a></li>

    </ul>

{%endblock%}