<!DOCTYPE html> {%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

  <title>STEADI</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
  <link href="{% static 'css/basestyle.css' %}" rel="stylesheet">

  <link href="{%static 'css/styles.css'%}" rel="stylesheet">
  <link href="{%static 'css/searchPatient.css'%}" rel="stylesheet">
  <link href="{%static 'css/questions.css' %}" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!--BEGIN NAV-->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="/app">CDC Falls App</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">


        </ul>
      </div>
    </div>
  </div>
  <!--END NAV-->
  <div class="container main_container">
    <div class="row">
      <!--Side bar-->
      <div class="col-lg-2">
        {%block sidebar%} {%endblock%}
      </div>
      <!--Sidebar end-->
      <!--Main part of app-->
      <div class="col-lg-10">

          {%block content%} {% endblock %}
      </div>
      <!--Main part of app end-->

    </div>
  </div>
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>