{% extends 'app/base.html' %} {%load static%} {% block sidebar %}


    <ul class="nav sidebar-nav">
      <!--Patient in NAV-->
      <div class="patient-info">
        <li class="" id="patient-name">Lusenii Kromah</li>
        <li class="" id="patient-age">Age: 22</li>
        <li class="" id="patient-score">Score: 0</li>
      </div>
      <!--END-->

          <li id="questions_li"><a href="{% url 'questions' %}" >Fall Screening</a></li>
          <li><a href="{% url 'assessments' %}" id="assessments_li">Assessment</a></li>
          <li><a href="{% url 'medications' %}" id="medications_li">Medications</a></li>
          <li><a href="{% url 'exams' %}" id="exams_li">Exams</a></li>
          <li><a href="{% url 'results' %}" id="results_li">Results</a></li>
          <li><a href="{% url 'risks' %}" id="risks_li">Risks</a></li>
    </ul>

{%endblock%}