<style>
    .checkbox label {
        font-size: 14px;
    }

form#id-assessmentForm fieldset{
        padding-bottom: 20px;
        padding-top: 20px;
        border: none;
    }
form#id-assessmentForm{
    margin: auto;
    overflow-y: auto;
}
 .main {
        overflow-y: auto;
    }
    body{
        /*overflow-y: hidden */
    }
</style>
{% extends 'app/baseWithSideBar.html' %} {% load crispy_forms_tags %} {% block content %}
<p> {{ patient.name }} </p>
<center class='title'><p>Select the test you would like to perform:</p></center>
{% crispy exams_form %} {% endblock %}