<style>
    .main {
        overflow-y: auto;
    }
    #id-tugform2 fieldset{
        padding-bottom: 20px;
        padding-top: 20px;
        border: none;
    }
     #exam_select .checkbox label{
         font-size: 20px;
     }
    
</style>
{% extends 'app/baseWithSideBar.html' %} {%load static%} {% load crispy_forms_tags %} {% block content %}
<div class="select_exam">
    <center class="title">
        <p>Select which test(s) you would like to perform: </p>
    </center>
    <form id="exam_select">
          

        <div class="row form-group" id="select_exam_button">
            <div class="col-xs-12 text-center">
                <button class="btn btn-primary" type="button" id="submit-id-submit">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12 exams">
        {% crispy exams_form %}
    </div>
</div>

{% endblock %}

<script src="{%static 'js/exam.js'%}"></script>