{% extends 'app/base.html' %} {%load static%} {%block sidebar%}
<li class="nav-header">
    <ul class="nav nav-stacked collapse in" id="userMenu">

        <div class="patient-info">
            {%for name in patient.resource.name.0.given%}
            <h2 class="" id="name">{{name}}</h2>

            {%endfor%}
            <h4 class="" id="patient-age">DOB: {{patient.resource.birthDate}}</h4>
        </div>
</li>


{%endblock%} {% block content %} {% if encounters%} {%for encounter in encounters%}

<div class="row ecounter">

    <div class="col-md-12">
        <!--panel-->
        <div class="panel panel-default" id="exams">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Encounter</h4>
                </div>
            </div>
            <div class="panel-body forms">
                {% ifnotequal encounter.resource.status "finished"%} 
                {%if encounter.risk_level%}
                <h1>Risk Level: {{encounter.risk_level}}</h1>
                {%endif%}
                <h3>Started: {{encounter.resource.period.start}}</h3>
                <h3>Status: {{encounter.resource.status}}</h3>


                <div class="buttons">
                    <div class="row justify-content-end">
                        <div class="col-xs-12">
                            <form method="GET" action="{% url 'questions' %}">

                                <input type="submit" value="Resume" class="btn btn-success start" type="button">
                                <input type="hidden" value='{{patient}}' name="patient" />
                                <input type="hidden" value='{{encounter.resource.id}}' name="encounter_id" />

                            </form>
                        </div>
                    </div>

                </div>
                {%else%}  {%if encounter.risk_level%}
                <h1>Risk Level: {{encounter.risk_level}}</h1>
                {%endif%}
                <h3>Completed: {{encounter.resource.period.start}}</h3>
                <h3>Status: {{encounter.resource.status}}</h3>
                <div class="buttons">
                    <div class="row justify-content-end">
                        <div class="col-xs-12">
                            <form method="GET" action="{% url 'questions' %}">

                                <input type="submit" value="Review" class="btn btn-basic start" type="button">
                                <input type="hidden" value='{{patient}}' name="patient" />
                                <input type="hidden" value='{{encounter.resource.id}}' name="encounter_id" />

                            </form>
                        </div>
                    </div>

                </div>



                {%endifnotequal%}


            </div>
            <!--/panel content-->
        </div>
        <!--/panel-->
    </div>
</div>

{%endfor%} {%else%}

<center>
    <p id="history">No History</p>
    <a href="/app/search">
        <h3>Click to Return</h3>
    </a>
</center>

{%endif%} {% endblock %}