{% extends 'app/baseWithSideBar.html' %} {% block content %} {%block patient_first_name%} {{ patient.name }}{%endblock%}
{%block patient_age%} {{ patient.age }}{%endblock%}
<div class="row justify-content-between medication_block">
    <div class="col-lg-12">
                 {% if identity != "patient" %}
  <div class="row medication_block">
        <div class="col-lg-12">
            <div class="form-group" id="medications_linked_to_falls">
                <label for="exampleSelect2">Fall screening questions answered yes related to medication</label>
                {% if "screening" in completed %}
                 <div class="panel-body" >
                    <form method='post' class="self_assessment_questions">
                        {% csrf_token %}   {% for question in med_questions %}
                            {{ question.errors }}
                            <div class="row question_row">
                                <div class="col-md-12">
                                    {{question}}
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        {% endfor %}
                

                    </form>
                </div>
                {% else %}
                    <li> Fall screening must be completed to display answers </li>
                {% endif %}
            </div>
        </div>
    </div>
    </div>


    <div class="col-lg-6">
      
        <div class="row">

            <div class="col-md-12">
                <!--panel-->
                <div class="panel panel-default" id="medications">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Medications</h4>
                        </div>
                    </div>
                    <div class="panel-body forms">

                        <div class="form-group">
                            <select multiple class="form-control">
                <!--Hard coded-->
                 <option>Asprin</option>
                 <option>Isosorbide</option>
                 <option>Amitriptyline</option>

             </select>
                        </div>
                    </div>
                    <!--/panel content-->
                </div>
                <!--/panel-->
            </div>
            <!--/col-span-6-->
        </div>



    </div>
    <div class="col-lg-6">

        <!--panel-->
        <div class="panel panel-default" id="problems">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Problems</h4>
                </div>
            </div>
            <div class="panel-body forms" id="problems">

                <div class="form-group">
                    <select multiple class="form-control">
                <!--Hard coded-->
                 <option>Asprin</option>
                 <option>Isosorbide</option>
                 <option>Amitriptyline</option>

             </select>
                </div>
            </div>
            <!--/panel content-->
        </div>
        <!--/panel-->


    </div>
</div>
    {% endif %}

<div class="row medication_block">
    <div class="col-lg-12">

        <!--panel-->
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Medications Linked to Falls</h4>
                </div>
            </div>
            <div class="panel-body forms" >

                <div class="form-group">
                <!--Hard coded-->
                 <select multiple class="form-control">
                    <option>Fanapt 10 MG Tabs</option>
             </select>

                </div>
            </div>
            <!--/panel content-->
        </div>
 <!--/panel-->
            <button type="submit" class="btn btn-primary" id="">Submit</button>
       
        

    </div>

</div>


  

</div>
{% endblock %}

