{% extends 'app/baseWithSideBar.html' %} {%load static%} {% block content %} 
{%block patient_first_name%} {{ patient.name}}{%endblock%} 
{%block patient_age%} {{ patient.age }}{%endblock%}
<div class="row justify-content-between medication_block">
    <div class="col-lg-12">
        {% if identity != "patient" %}

        <div class="row medication_block" id="question_prompt">
            <div class="col-lg-12">
                <div class="form-group" id="medications">
                    {% if "screening" in completed %}

                    <div class="panel-body">
                        <form method='post' class="self_assessment_questions">
                            <label for="exampleSelect2" id=""> Fall screening questions answered "yes" related to medication</label>                            {% if med_questions%} {% csrf_token %} {% for question in med_questions %} 
                            {{ question.errors}}
                            <div class="row question_row">
                                <div class="col-md-12">
                                   <li> {{question}}</li>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                            {% endfor %} {%else%}
                            <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
                            <script type="text/javascript">
                                $('#question_prompt').remove();
                            </script>

                            {%endif%}


                        </form>
                    </div>
                    {% else %}
                    <li> Fall screening must be completed to display answers </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



</div>
{% endif %}

<div class="row medication_block">
    <div class="col-lg-6">

        <div class="row">

            <div class="col-md-12">
                <!--panel-->
                <div class="panel panel-default" id="medications">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Medications</h4>
                        </div>
                    </div>
                    <div class="panel-body forms">

                        <select multiple class="form-control">
                <!--Hard coded-->
                 <option>Asprin</option>
                 <option>Isosorbide</option>
                 <option>Amitriptyline</option>

             </select>
                    </div>
                    <!--/panel content-->
                </div>
                <!--/panel-->
            </div>
            <!--/col-span-6-->
        </div>



    </div>
    <div class="col-lg-6">

        <!--panel-->
        <div class="panel panel-default" id="medications">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Problems</h4>
                </div>
            </div>
            <div class="panel-body forms" id="problems">

                <select multiple class="form-control">
                <!--Hard coded-->
                 <option>Asprin</option>
                 <option>Isosorbide</option>
                 <option>Amitriptyline</option>

             </select>
            </div>
            <!--/panel content-->
        </div>
        <!--/panel-->


    </div>
</div>

<div class="row medication_block">
    <div class="col-lg-12">

        <!--panel-->
        <div class="panel panel-default" id="medications">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>Medications Linked to Falls</h4>
                </div>
            </div>
            <div class="panel-body forms">

                <!--Hard coded-->
                <select multiple class="form-control">
                     <!--medications go here-->
                    <option>Fanapt 10 MG Tabs</option>
             </select>

            </div>
            <!--/panel content-->
        </div>
        <!--/panel-->
        <button type="submit" class="btn btn-primary" id="">Submit</button>



    </div>

</div>




</div>


{% endblock %}