{% extends 'app/baseWithSideBar.html' %} {%load static%} {% block content %}
<center>
    <h1>Self-Assessment</h1>
</center>
<div class="container ">
    <div class="row question-container">
        <div class="col-lg-8 question-form">
            <form method='post'>
                {% for field in question_form%}
                <div class="row">
                    {{field.label}}

                    {{field}}
                </div>
                {% endfor %}
                
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4  auto-pass-fail">
            <div class="row " id="pass-button">
                <center>
                    <h2>Auto</h2>
                </center>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-success" type="button">Pass  </button>
                </div>
            </div>
            <div class="row" id="fail-button">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-danger" type="button">Fail</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}