 {% extends 'app/baseWithSideBar.html' %} {% load crispy_forms_tags %}
<style>
    .field_set legend {
        font-size: 14px;
    }
</style>
{% block content %} {% csrf_token %}

{%block patient_first_name%} {{ patient.name }}{%endblock%}
{%block patient_age%} {{ patient.age }}{%endblock%}

    <div class="col-md-6 col-md-offset-3">
        <div class="container-fluid">
            <h5>Risk Level</h5>
            <div class="row">
                {% if risk_level == "incomplete" %}
                <div class="col-lg-12">
                    <h1 id="incomplete">Indeterminate Risk
                        <h1>
                </div>
                {% if incomplete_list %}
                <h6> You must complete the following interventions to get the patient's risk level: </h6>
                {% for incomplete in incomplete_list %}
                <h7> {{ incomplete }} </h7>
                {% endfor %} {% endif %} {% elif risk_level == "low"%}
                <div class="col-lg-12">
                    <h1 id="low" type="button">Low </button>
                    </h1>
                </div>
                {% elif risk_level == "moderate"%}
                <div class="col-lg-12">
                    <h1 id="moderate">Moderate </h2>
                </div>
                {% elif risk_level == "high"%}
                <div class="col-lg-12">
                    <h1 id="hihg">High </h1>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>



<div class="row form-group" id="patient_education">

    <div class="col-md-12 results_form">
        <div class="container-fluid">
            <div class="row justify-content-end">
                {% crispy risks_form %}
            </div>
        </div>
    </div>

</div>


{% endblock %}