 {% extends 'app/baseWithSideBar.html' %} {% load crispy_forms_tags %}
<style>
    .field_set legend {
        font-size: 14px;
    }
</style>
{% block content %}
<div class="container">




    <form method='post' id="risk_form">
        {% csrf_token %}

        <div class="container">
            <div class="row form-group assessment_block" id="patient_education">
                <h3>Interventions</h3>

                  <div class="col-md-6 results_form">
                    <div class="container">
                        <div class="row justify-content-end">
                            {% crispy results_form %}
                        </div>
                    </div>
                </div>
           
            </div>
        </div>

        <div class="container">
            <div class="row assessment_block form-group" id="patient_education">

                     <div class="col-md-6">
                    <div class="container">
                        <h5>Risk Levels</h5>
                        <div class="row">

                            <div class="col-lg-3">
                                <a href=""><button class="btn btn-success risk_button" id="low" type="button" >Low</button></a>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-lg-3">
                                <a href=""><button class="btn btn-success risk_button" id="med" type="button" >Medium</button></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <a href=""><button class="btn btn-success risk_button" id="high" type="button" >High</button></a>
                            </div>
                        </div>-->
                    </div>
                </div>
              
                <div class="col-md-6">
                    <div class="container">
                        <h5>Print</h5>
                        <div class="row">
                            <div class="col-lg-3">
                                <a href=""><button class="btn btn-info risk_button" type="button" >Print Brochure</button></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <a href=""><button class="btn btn-info risk_button"  type="button" >Print Handout</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row assessment_block form-group" id="risk_notes">
                <div class="col-lg-12">
                    <label for="comment">Notes:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>
        </div>
        <div class="row form-group" id="submit_risk_button">
            <div class="col-lg-12 text-center">
                <button class="btn btn-primary" type="button" id="risks_submit_button">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}