{%load static%}
<html>
<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

  <title>STEADI</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
  <link href="{% static 'css/basestyle.css' %}" rel="stylesheet">

  <link href="{%static 'css/styles.css'%}" rel="stylesheet">
  <link href="{%static 'css/searchPatient.css'%}" rel="stylesheet">
  <link href="{%static 'css/questions.css' %}" rel="stylesheet">

</head>
<body>
    <!--BEGIN NAV-->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #075290" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white;" href="#">CDC Fall Prevention</a>
        </div>

        </div>
    </nav>
    <!--END NAV-->
    <div class="container-fluid well well-lg">
        <!--Search Bar-->
        <div class="row searchbar">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Patients">
                    <span class="input-group-btn"><button class="btn btn-primary" type="button">Search</button></span>
                </div>
            </div>
        </div>
        <!--Search Bar end-->
    </div>

    <div class="container-fluid">
        <div class="row">
            <!--Patient BLOCK-->
            <div class="col-md-6 patient-block" style="float: none;">
                <div class="row">
                    <div class="col-xs-6">
                        <h1 id="name">Lusenii Kromah</h1>
                        <div class="row">
                            <div class="col-xs-4">
                                <p id="age">Age: 22</p>
                            </div>
                            <div class="col-xs-4">
                                <p id="gender">Male</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" id="last-visit">
                        <h4>Last Visit: 12/12/2017</h4>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-xs-2">
                        <a href="{% url 'questions' %}"><button class="btn btn-success" type="button" >Start</button></a>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-info" type="button">History</button>
                    </div>
                </div>

            </div>
            <!--Patient BLOCK-->
            <div class="col-md-6 patient-block" style="float: none;">
                <div class="row">
                    <div class="col-xs-6">
                        <h1 id="name">Lusenii Kromah</h1>
                        <div class="row">
                            <div class="col-xs-4">
                                <p id="age">Age: 22</p>
                            </div>
                            <div class="col-xs-4">
                                <p id="gender">Male</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" id="last-visit">
                        <h4 id="last_date">Last Visit: 12/12/2017</h4>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-xs-2">
                        <a href="{% url 'questions' %}"><button class="btn btn-success" type="button" >Start</button></a>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-info" type="button">History</button>
                    </div>
                </div>

            </div>
            <!--\Patient BLOCK END-->
            <!--Patient BLOCK-->
            <div class="col-md-6 patient-block" style="float: none;">
                <div class="row">
                    <div class="col-xs-6">
                        <h1 id="name">Lusenii Kromah</h1>
                        <div class="row">
                            <div class="col-xs-4">
                                <p id="age">Age: 22</p>
                            </div>
                            <div class="col-xs-4">
                                <p id="gender">Male</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" id="last-visit">
                        <h4>Last Visit: 12/12/2017</h4>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-xs-2">
                        <a href="{% url 'questions' %}"><button class="btn btn-success" type="button" >Start</button></a>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-info" type="button">History</button>
                    </div>
                </div>

            </div>
            <!--\Patient BLOCK END-->
        </div>

        <!--PAGINATION-->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <ul class="pagination" style="display: flex; margin: auto;">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
        </div>
        <!--END PAGINATION-->

    </div>

</body>
</html>

