{%load static%} {% load crispy_forms_tags %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>STEADI</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="{% static 'css/basestyle.css' %}" rel="stylesheet">

    <link href="{%static 'css/styles.css'%}" rel="stylesheet">
    <link href="{%static 'css/searchPatient.css'%}" rel="stylesheet">
    <link href="{%static 'css/questions.css' %}" rel="stylesheet">
    <link href="{%static 'css/other_index.css'%}" rel="stylesheet">
        <link href="{%static 'css/new_styles.css'%}" rel="stylesheet">


</head>

<body>
    <!--BEGIN NAV-->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #075290" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: white;" href="#">CDC Fall Prevention</a>
        </div>

        </div>
    </nav>
    <!--END NAV-->


    <div class="container-fluid">
        <!--Search Bar-->
        <div class="row searchbar">
            <div class="col-lg-10 col-lg-offset-1">
                {% crispy search_patient_form %}

            </div>
        </div>
        <!--Search Bar end-->
        <div class="row row-centered">
            <!--Patient BLOCK-->
            <div class="col-lg-3  patient-block col-centered">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 id="name">John Doe</h2>
                        <div class="row">
                            <div class="col-xs-4">
                                <p id="age">Age: 83</p>
                            </div>
                            <div class="col-xs-4">
                                <p id="gender">Male</p>
                            </div>
                        </div>
                        
                    </div>

                </div>

                <div class="buttons">
                    <div class="row justify-content-end">
                        <div class="col-xs-12">
                            <a href="{% url 'questions' %}"><button class="btn btn-success start" type="button" >Start</button></a>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-xs-12">
                            <a href="{% url 'questions' %}"><button class="btn btn-info history" type="button" >History</button></a>
                        </div>
                    </div>
                </div>
                <!--<div class="row justify-content-end">
                        <div class="col-xs-12">
                            <a href="{% url 'questions' %}"><button class="btn btn-success" type="button" >History</button></a>
                        </div>
                    </div>-->

            </div>
            <!--/END-->
            <!--Patient BLOCK-->
            <div class="col-lg-3 patient-block col-centered">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="name">John Doe</h2>
                        <div class="row">
                            <div class="col-xs-4">
                                <p id="age">Age: 83</p>
                            </div>
                            <div class="col-xs-4">
                                <p id="gender">Male</p>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="buttons">
                    <div class="row justify-content-end">
                        <div class="col-md-12">
                            <a href="{% url 'questions' %}"><button class="btn btn-success start" type="button" >Start</button></a>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-xs-12">
                            <a href="{% url 'questions' %}"><button class="btn btn-info history" type="button" >History</button></a>
                        </div>
                    </div>
                </div>

            </div>
            <!--/END-->
            <!--Patient BLOCK-->
            <div class="col-lg-3 patient-block col-centered">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="name">John Doe</h2>
                        <div class="row">
                            <div class="col-xs-4">
                                <p id="age">Age: 83</p>
                            </div>
                            <div class="col-xs-4">
                                <p id="gender">Male</p>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="buttons">
                    <div class="row justify-content-end">
                        <div class="col-xs-12">
                            <a href="{% url 'questions' %}"><button class="btn btn-success start" type="button" >Start</button></a>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-xs-12">
                            <a href="{% url 'questions' %}"><button class="btn btn-info history" type="button" >History</button></a>
                        </div>
                    </div>
                </div>

            </div>
            <!--/END-->


        </div>

        <!--PAGINATION-->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <ul class="pagination" style="display: flex; margin: auto;">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
        </div>
        <!--END PAGINATION-->
    </div>




</body>

</html>