<head>
</head>
{% extends 'app/base.html' %} {%load static%} {% block content %}

<div class="container-fluid well well-lg">
    <!--Search Bar-->
    <div class="row searchbar">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Patients">
                <span class="input-group-btn"><button class="btn btn-primary" type="button">Search</button></span>
            </div>
        </div>
    </div>
    <!--Search Bar end-->
</div>

<div class="container-fluid">
    <div class="row">
        <!--Patient BLOCK-->
        <div class="col-md-6 patient-block" style="float: none;">
            <div class="row">
                <div class="col-xs-6">
                    <h1 id="name">Lusenii Kromah</h1>
                    <div class="row">
                        <div class="col-xs-4">
                            <p id="age">Age: 22</p>
                        </div>
                        <div class="col-xs-4">
                            <p id="gender">Male</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" id="last-visit">
                    <h4>Last Visit: 12/12/2017</h4>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-xs-2">
                    <a href="{% url 'questions' %}"><button class="btn btn-success" type="button" >Start</button></a>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-info" type="button">History</button>
                </div>
            </div>

        </div>
        <!--\Patient BLOCK END-->
        <!--Patient BLOCK-->
        <div class="col-md-6 patient-block" style="float: none;">
            <div class="row">
                <div class="col-xs-6">
                    <h1 id="name">Lusenii Kromah</h1>
                    <div class="row">
                        <div class="col-xs-4">
                            <p id="age">Age: 22</p>
                        </div>
                        <div class="col-xs-4">
                            <p id="gender">Male</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" id="last-visit">
                    <h4>Last Visit: 12/12/2017</h4>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-xs-2">
                    <a href="{% url 'questions' %}"><button class="btn btn-success" type="button" >Start</button></a>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-info" type="button">History</button>
                </div>
            </div>

        </div>
        <!--\Patient BLOCK END-->
        <!--Patient BLOCK-->
        <div class="col-md-6 patient-block" style="float: none;">
            <div class="row">
                <div class="col-xs-6">
                    <h1 id="name">Lusenii Kromah</h1>
                    <div class="row">
                        <div class="col-xs-4">
                            <p id="age">Age: 22</p>
                        </div>
                        <div class="col-xs-4">
                            <p id="gender">Male</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" id="last-visit">
                    <h4>Last Visit: 12/12/2017</h4>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-xs-2">
                    <a href="{% url 'questions' %}"><button class="btn btn-success" type="button" >Start</button></a>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-info" type="button">History</button>
                </div>
            </div>

        </div>
        <!--\Patient BLOCK END-->
    </div>

    <!--PAGINATION-->
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <ul class="pagination" style="display: flex; margin: auto;">
                <li><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
    <!--END PAGINATION-->
    
</div>

{% endblock %}