{% extends 'app/baseWithSideBar.html' %} {% block content %}

<div class="container">
    <center>
        <h1>Select the test you would like to perform:</h1>
    </center>
    <form method='post'>
        <div class="row assessment_block" id="tug">
            {% for field in tug_form%}
            <div class="container">
                <div class="row">
                    <h4> Time Up and Go (Recommended) </h4>

                    {{field}}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row assessment_block" id="30_sec_stand">
            <h4> 30-Second Chair Stand </h4>
            {{ thirty_sec_stand_form }}
        </div>

        <div class="row assessment_block" id="4_stage_balance">
            {{ test_form }}
        </div>

        <div class="row assessment_block" id="notes">
            <label for="comment">Notes:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
    </form>
</div>
{% endblock %}